body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: lightgray;
}

.ms {
	/* allow grid to center itself */
	display: flex;
	min-height: 100vh;
}

.ms-grid {
	/* center within parent */
	margin: auto;
	/* lay out tiles in a grid */
	display: grid;
	grid-auto-rows: 10%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 500px;
	border: 1px solid gray;
	box-shadow: 0 0.25rem 1.5rem darkgray;
}

/* it's a button */
.ms-tile {
	/* sizing */
	min-width: 50px;
	min-height: 50px;
	font-size: 25px;
	color: transparent;
	border-width: 4px;
	border-color: lightgray;
	border-top-color: white;
	border-left-color: white;
}

.ms-tile.is-clicked {
	color: black;
	background: lightgray;
	border: 1px solid gray;
}

.ms-tile:focus {
	z-index: 1;
	outline: 2px solid cornflower;
}

.ms-tile-flag {
	color: black !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ms-message {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding-bottom: 1em;
}